@model IEnumerable<WheatherForecast.Models.CityEntity>
@{
    ViewBag.Title = "Index";
}


<div class="settings-content">
    <div class="settings-header">
        <div>
            <h2>Settings</h2>
        </div>
        <div>
            <img src="~/Images/settings/settings.png" width="60px" class="settings-logo" />
        </div>
    </div>
    @foreach (var city in Model)
    {
        <div class="settings-forms">
            <div class="setting-form-delete">
                <form action="/Settings/Delete" method="post">
                    <div class="form-group form-inline">
                        <div>
                            <div class="form-element city-name">
                                <input type="hidden" name="id" value="@city.Id" />
                                <label>@city.Name</label>
                            </div>
                            <div class="form-element">
                                @*<input type="image" src="~/Images/settings/minus.png" class="w-icon" />*@
                                <input type="submit" class="btn btn-danger" value="Delete" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="setting-form">
                <form action="/Settings/Update" method="post">
                    <div class="form-group form-inline">
                        <input type="hidden" name="id" value="@city.Id" />
                        <div>
                            <div class="form-element">
                                <input type="text" class="form-control" name="name" placeholder="Enter new name.." />
                            </div>
                            <div class="form-element">
                                <input type="submit" class="btn btn-primary" value="Update" />
                            </div>
                        </div>               
                    </div>                         
                </form>
            </div>
        </div>
    
   
    }
    <div class="add-form">
        <form action="/Settings/Add" method="post">
            <div class="form-group form-inline">
                <div>
                    <div class="form-element">
                        <input type="text" name="name" class="form-control" placeholder="Enter new city.." />
                    </div>
                    <div class="form-element">
                        @*<input type="image" src="~/Images/settings/plus.png" class="w-icon" />*@
                        <input type="submit" class="btn btn-success" value="Add City" />
                    </div>
                </div>  
            </div>   
        </form>
    </div>
    

    <label class="error-message">@(ViewBag.ErrorMessage ?? "")</label>
</div>