@model IEnumerable<WheatherForecast.Models.CityEntity>
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-2">
        <h2>Settings</h2>
    </div>
    <div class="col-md-10">
        <br />
        <img src="~/Images/settings/settings.png" width="60px" />
    </div>
</div>
<hr />
@foreach (var city in Model)
{
    <div class="row">
        <div class="col-md-3">
            <form action="/Settings/Delete" method="post">
                <div class="form-group form-inline">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="hidden" name="id" value="@city.Id" />
                            <label>@city.Name</label>
                        </div>
                        <div class="col-md-4">
                            @*<input type="image" src="~/Images/settings/minus.png" class="w-icon" />*@
                            <input type="submit" class="btn btn-danger" value="Delete" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <form action="/Settings/Update" method="post">
                <div class="form-group form-inline">
                    <input type="hidden" name="id" value="@city.Id" />
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="name" placeholder="Enter new name.." />
                        </div>
                        <div class="col-md-4">
                            <input type="submit" class="btn btn-primary" value="Update" />
                        </div>
                    </div>               
                </div>                         
            </form>
        </div>
    </div>
    
   
}
<hr />
<form action="/Settings/Add" method="post">
    <div class="form-group form-inline">
        <div class="row">
            <div class="col-md-3">
                <input type="text" name="name" class="form-control" placeholder="Enter new city.." />
            </div>
            <div class="col-md-3">
                @*<input type="image" src="~/Images/settings/plus.png" class="w-icon" />*@
                <input type="submit" class="btn btn-success" value="Add City" />
            </div>
        </div>  
    </div>   
</form>

<label class="error-message">@(ViewBag.ErrorMessage ?? "")</label>