body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges background-color: #e6f2ff;*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.forecast-table {
    padding: 20px;
    border-radius: 5px;
    background-color: #e6ffcc;
}

.frc-td {
    padding:0px;
    vertical-align: bottom;
    text-align: center;
    font-size: 15px;
}

.logo {
    width: auto;
    height: 180px;
}

.w-icon {
    width: 20px;
    height: 20px; 
}

.error-message {
    color: red;
}



.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    background: lightgreen;
    color: white;
}

.header-logo {
    padding-top: 10px;
    padding-left: 10px;
    
}

.logo-img {
    width: 30px;
    height: 30px;
}

.site-navbar {
    width: 100%;
    list-style: none;
    margin: 0;
    display: flex;
}

.nav-link {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

    .nav-link:hover {
        background: #00b300;
        color: white;
        text-decoration: none;
    }
